<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MOMA Random Artwork</title>
</head>
<style>
  img {
    width: 100%;
  }
</style>
<body>
  <img src="<%= src %>">
  <h4><%= artist %></h4>
  <p><%= title %></p>
  <p><%= date %></p>
  <p><%= medium %></p>
</body>
</html>