<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MOMA Random Artwork</title>
</head>
<style>
  img,
  #image-container {
    width: 100%;
  }
</style>
<body>
  <div id="image-container">
    <img id="thumb" src="<%= thumb %>">
  </div>
  <h4><%= artist %></h4>
  <p><%= title %></p>
  <p><%= date %></p>
  <p><%= medium %></p>
</body>
<script>
  const img = document.createElement('img');
  img.src = '<%= src %>';
  img.onload = () => {
    const thumb = document.getElementById('thumb');
    const container = document.getElementById('image-container')
    container.removeChild(thumb)
    container.appendChild(img);
  }
</script>
</html>